.icone-croix path{
    Stroke: #FF0000;
}
.icone-croix path:nth-child(1) {
    stroke-dasharray: 2333px;
    stroke-dashoffset: 2333px;
    animation: anim 3.5s ease forwards;
}

.icone-croix path:nth-child(2) {
    stroke-dasharray: 2333px;
    stroke-dashoffset: 2333px;
    animation-delay: 0.4s;
    animation-duration: 3.5s;
    animation-timing-function: ease;
    animation-fill-mode:  forwards;
    animation-name: anim2;
}

@keyframes anim2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}


